*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.img{
    border: 1px solid white;
    max-width: 90%;
    max-height: 70%;
}

.random {
    padding: 0.5rem 4rem;
    background-color: rgb(53, 52, 52);
    color: white;
}